# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# TypeScript v1 declaration files
*.d.ts

# Optional eslint cache
.eslintcache

# build output
dist/
